body {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #4b4b4b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    width: 80px;
}

.mockIn {
    text-decoration: none !important;
}