body {
    background-color: #242424;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #4b4b4b;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black,
                inset 3px 3px 5px magenta,
                inset -3px -3px 5px rgb(130, 0, 255);
}

span {
    font-family: 'Permanent Marker', cursive !important;
    font-size: 1.5rem !important;
    font-weight: bolder !important;
    background: -webkit-linear-gradient(315deg, magenta, rgb(130, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

textarea {
    align-self: center;
    margin-top: 1rem;
    width: 500px;
    height: 180px;
}

.button {
    width: 140px;
}

.mockIn {
    text-decoration: none !important;
}

@media screen and (max-width: 700px) {
    .container {
        max-width: 330px;
    }

    textarea {
        max-width: 270px;
    }
}